{% extends 'templates/layouts/layout-chefs.njk' %}

{% block content %}
    <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
        <section class="chefs">
            <div class="chef">
                <div class="chef-p">
                    <p>Criando chef</p>
                </div>
                <div class="save-chef">
                    <a href="/admin/chefs">
                        <button type="button" class="btn-cancel-chef">Cancelar</button>
                    </a>
                    <button class="btn-save-chef" type="submit">Salvar chef</button>
                </div>
            </div>
        </section>
        
        {% include 'templates/fields/fields-chefs.njk' %}
        <input type="hidden" name="id" value="id">
    </form>

{% endblock %}

