{% extends 'templates/layouts/layout-chefs.njk' %}

{% block content %}
    <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
        <section class="chefs">
            <div class="chef">
                <div class="chef-p">
                    <p>Editando chef</p>
                </div>
                <div class="save-chef">
                    <button type="button" class="btn-cancel-chef" onclick="history.back()">Cancelar</button>       
                    <button id="button-delete" class="btn-delete-chef" type="button" formaction="/admin/chefs?_method=DELETE">Deletar</button>
                    <button class="btn-save-chef" type="submit" onclick="validate.validateFields(event)">Salvar chef</button>
                    <input type="hidden" name="id" value="{{ chef.id }}">
                </div>
            </div>
        </section>
        {% include 'admin/chefs/fields/fields-chefs.njk' %}
    </form>
{% endblock %}