{% extends 'templates/layouts/layout-chefs.njk' %}

{% block content %}
    <section class="chefs">
        <div class="index-chef">
            <div class="index-chef-p">
                <p>Gerenciar chefs</p>
            </div>
            <div class="save-chef-index">
                <a href="/admin/chefs/create">
                    <button class="btn-save-chef" type="submit">Criar novo chef</button>
                </a>
            </div>
        </div>
    </section>
    <section class="fields-list-chefs">
        <div class="fields-grid-chefs">
        {% for chef in chefs %}
            <div class="fields-item-chefs">
                <img class="fields-img-chefs" src="{{ chef.src }}">
                <div class="fields-info-chefs">
                    <h2>{{ chef.name }}</h2>
                    <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                </div>
            </div>
        {% else %}
             <div class="fields-info-chefs">
                <p>Ainda não temos chefs</p>
            </div>
        {% endfor %}
        </div>
        <div class="container-pagination">
            <div class="pagination"  
                data-page={{pagination.page}} 
                data-total={{pagination.total}}>
            </div>
        </div>
    </section>
{% endblock %}