{% extends "templates/layouts/layout-chefs.njk" %}

{% block head %}
    <title>{{ chef.name }}</title>
{% endblock %}

{% block content %}
    <section class="chefs">
        <div class="chef">
            <div class="chef-p">
                <p>Chef: {{ chef.name }}</p>
            </div>
            <div class="save-chef">
                <a href="/admin/chefs">
                    <button class="btn-cancel-chef" type="submit">Voltar</button>
                </a>
                <a href="/admin/chefs/{{ chef.id }}/edit">
                    <button class="btn-save-chef" type="submit">Editar chef</button>
                </a>
            </div>
        </div>
    </section>

    <section class="accessfood">
        <div class="receitas-content-food">
            <div class="food">
                <div class="food-img">
                    <img src="{{ files_chefs.src }}">
                </div>
                <h2 class="food-title">{{ chef.name }}</h2>
                {% if chef.total_recipes != 0 %}
                    <p class="food-author">
                        {{ chef.total_recipes }} {% if chef.total_recipes > 1 %}receitas{% else %} receita{% endif %}
                    </p>
                {% else %}
                    <p class="food-author">Nenhuma receita</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="div-mais-acessadas">
        <div class="sub-acessadas">
            <p class="mais-acessadas">Receitas</p>
        </div>
    </section>

    <section class="fields-list">
        <div class="fields-grid-show-chef">
        {% for recipe in recipes %}
            <div class="fields-item-show-chef">
                <img class="fields-img-show-chef" src="{{ recipe.src }}">
                <div class="fields-info-show-chef">
                    <h2>{{ recipe.title }}</h2>
                    <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                </div>
            </div>
        {% else %}
            <div class="fields-item-show-chef-p">
                <p>Esse chef ainda não possui receitas</p>
            </div>
        {% endfor %}
        </div>
        <div class="container-pagination">
            <div class="pagination"  
                data-page={{pagination.page}} 
                data-total={{pagination.total}}>
            </div>
        </div>
    </section>
{% endblock %}
