{% extends "templates/layouts/layout.njk" %}

{% block head %}
    <title>{{ chef.name }}</title>
{% endblock %}

{% block content %}
    <section class="show">
        <div>
            <div class="show-chefs">
                <p>Chef: {{ chef.name }}</p>
            </div>
            <div class="save-chefs-show">
                <a class="btn btn-cancel" type="submit" href="/admin/chefs/index">Voltar</a>
                <a class="btn" type="submit" href="/admin/chefs/{{ chef.id }}/edit">Editar chef</a>
            </div>
        </div>
    </section>

    <section class="accessfood">
        <div class="receitas-content-food">
            <div class="food">
                <div class="food-img">
                    <img src="{{ chef.avatar_url }}">
                </div>
                <h2 class="food-title">{{ chef.name }}</h2>
                {% if chef.total_recipes != 0 %}
                    <p class="food-author">
                        {{ chef.total_recipes }} {% if chef.total_recipes > 1 %}receitas{% else %} receita{% endif %}
                    </p>
                {% else %}
                    <p class="food-author">Nenhuma receita</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="div-mais-acessadas">
        <div class="sub-acessadas">
            <p class="mais-acessadas">Receitas</p>
        </div>
    </section>

    <section class="fields-list">
        <div class="fields-grid-show-chef">
        {% for recipe in recipes %}
            <div class="fields-item-show-chef">
                <img class="fields-img-show-chef" src="{{ recipe.image }}">
                <div class="fields-info-show-chef">
                    <h2>{{ recipe.title }}</h2>
                    <a href="/admin/recipes/{{ recipe.id }}">visualizar</a>
                </div>
            </div>
        {% else %}
            <div class="fields-item-show-chef-p">
                <p>Esse chef ainda não possui receitas</p>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
