<section class="fields-creation">
    <div class="div-fields-list">
        {% for user in users %}
            <div class="list">
                <p class="name">{{ user.name }}</p>
                <p class="email">{{ user.email }}</p>
                <div class="list-links">
                    <section id="form-delete" class="form-delete list-form-delete">
                        <a class="list-links-a" href="/admin/admins/{{ user.id }}/edit">Editar</a>
                        {% if user.id != session.userId %}
                            <button type="button" id="button-delete" class="list-links-b" formaction="/admin/admins?_method=DELETE">Remover</button>
                        {% endif %}
                        <input type="hidden" name="id" value="{{ user.id }}">
                    </section>
                </div>
            </div>
        {% endfor %}
    </div>
</section>