<section class="fields-creation">
    <div class="div-fields-creation">
        <div class="item">
            <p class="title">Nome</p>
            <input type="text" name="name" value="{{ user.name }}" placeholder="Insira seu nome">
        </div>
        <div class="item">
            <p class="title">Email</p>
            <input type="text" name="email" value="{{ user.email }}" disabled placeholder="Digite seu email">
            <input type="hidden" name="email" value="{{ user.email }}">
        </div>
        <div class="item">
            <p class="title">Senha</p>
            <input type="password" name="password" placeholder="Digite sua senha">
        </div>
    </div>
</section>
<script src="/js/removeColorInput.js"></script>