{% extends 'templates/layouts/layout-users.njk' %}

{% block content %}
    <section class="users-register">
        <form method="POST" action="/admin/users/register">
            <section class="users-title">
                <h2>Crie uma Conta</h2>
            </section>
            
            {% include 'admin/users/fields/users-register.njk' %}

            <input type="hidden" name="id" value="id">
        </form>
    </section>
{% endblock %}

