{% extends "templates/layouts/layout-home.njk" %}

{% block head %}
    <title>{{ chef.name }}</title>
{% endblock %}

{% block content %}
    <section class="accessfood">
        <div>
            <div class="food-show">
                <div class="food-img-show">
                    <img src="{{ chef.file.src }}">
                </div>
                <h2 class="chef-name">{{ chef.name }}</h2>
                {% if chef.total_recipes != 0 %}
                    <p class="chef-recipes">
                        {{ chef.total_recipes }} 
                        {% if chef.total_recipes > 1 %}
                            receitas
                        {% else %} 
                            receita
                        {% endif %}
                    </p>
                {% else %}
                    <p class="chef-recipes">Nenhuma receita</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section-more-accessed">
        <div class="sub-accessed">
            <p class="more-accessed">Receitas</p>
        </div>
    </section>

    {% if chef.recipes.length != 0 %}
        <section class="accessed">
            <div class="acess-content">
                {% for recipe in chef.recipes %}
                    <div class="food">
                        <a type="hidden" href="/recipes/food/{{ recipe.id }}">
                            <img class="img" src="{{ recipe.src }}">
                            <h2 class="food-title">{{ recipe.title }}</h2>
                            <h3 class="food-author">{{ recipe.chefs_name }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="container-pagination">
                <div class="pagination"  
                    data-page={{pagination.page}} 
                    data-total={{pagination.total}}>
                </div>
            </div>
        </section>
    {% else %}
        <div class="no-recipes">
            <p>Esse chef ainda não possui receitas</p>
        </div>
    {% endif %}
    {% include 'templates/parts/footer.njk' %}
{% endblock %}
