{% extends 'templates/layouts/layout-home.njk' %}

{% block head %}
    <title>Chefs</title>
{% endblock %}

{% block content %}
    <section class="fields-list-chefs">
        <div class="fields-grid-chefs">
        {% for chef in chefs %}
            <div class="fields-item-chefs">
                <a class="fields-item-chefs-a" type="hidden" href="/chefs/{{ chef.id }}">
                    <img class="fields-img-chefs" src="{{ chef.src }}">
                    <div class="fields-info-chefs">
                        <h2>{{ chef.name }}</h2>
                        {% if chef.total_recipes != 0 %}
                            <p>
                                {{ chef.total_recipes }} {% if chef.total_recipes > 1 %}receitas{% else %} receita{% endif %}
                            </p>
                        {% else %}
                            <p>Nenhuma receita</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% else %}
            <div class="fields-info-chefs">
                <p>Ainda não temos chefs</p>
            </div>
        {% endfor %}
        </div>
        <div class="container-pagination">
            <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
        </div>
    </section>
{% endblock %}