{% extends "templates/layouts/layout-home.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}


{% block content %}
    <section class="container">
        <div class="box">
            <div class="text-box">
                <h1>As melhores receitas</h1>
                <p>Aprenda a contruir os melhores pratos</br> com receitas criadas por profissionais</br> do mundo inteiro.</p>
            </div>
            <img src="./assets/chef.png">
        </div>
    </section>

    <section class="section-more-accessed">
        <div class="sub-accessed">
            <p class="more-accessed">Mais acessadas</p>
        </div>
    </section>

    <section class="accessed">
        <div class="acess-content">
            {% for recipe in recipes %}
                <div class="food">
                    <a type="hidden" href="/recipes/food/{{ recipe.id }}">
                        <img class="img" src="{{ recipe.src }}">
                        <h2 class="food-title">{{ recipe.title }}</h2>
                        <h3 class="food-author">{{ recipe.chefs_name }}</h3>
                    </a>
                </div>
            {% else %}
                <div class="fields-info">
                    <p>Ainda não temos receitas</p>
                </div>
            {% endfor %}
        </div>
        <div class="container-pagination">
            <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
        </div>
    </section>
    {% include 'templates/parts/footer.njk' %}
{% endblock %}