{% extends "templates/layouts/layout-home.njk" %}


{% block head %}
    <title>Recipes</title>
{% endblock %}

{% block content %}
    <section class="acessadas">
        <div class="acess-content">
            {% for recipe in recipes %}
                <div class="comida">
                    <a type="hidden" href="/recipes/food/{{ recipe.id }}">
                        <img class="img" src="{{ recipe.src }}">
                        <h2 class="comidatitle">{{ recipe.title }}</h2>
                        <h3 class="comidaautor">{{ recipe.chefs_name }}</h3>
                    </a>
                </div>
            {% else %}
                <div class="fields-info">
                    <p>Ainda não temos receitas</p>
                </div>
            {% endfor %}
        </div>
        <div class="container-pagination">
            <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
        </div>
    </section>
    {% include 'templates/parts/footer.njk' %}
{% endblock %}
