{% extends "templates/layouts/layout-home.njk" %}


{% block head %}
    <title>search</title>
{% endblock %}

{% block content %}

    <div class="search-parameter">
        <p>Buscando por "{{ search }}"</p>
    </div>
    <section class="accessed">
        <div class="acess-content">
            {% for recipe in recipes %}
                <div class="food">
                    <a type="hidden" href="/recipes/food/{{ recipe.id }}">
                        <img class="img" src="{{ recipe.src }}">
                        <h2 class="food-title">{{ recipe.title }}</h2>
                        <h3 class="food-author">{{ recipe.chefs_name }}</h3>
                    </a>
                </div>
            {% else %}
                <div class="search-not-found">
                    <h3>Desculpe</h3>
                    <p>Não encontramos nenhuma receita com o nome "{{ search }}"</p>
                </div>
            {% endfor %}
        </div>

        <div class="container-pagination">
            <div class="pagination"  
                data-page={{pagination.page}} 
                data-total={{pagination.total}}
                data-search={{search}}>
            </div>
        </div>
    </section>
{% endblock %}
