/* food page */
.food {
  display: flex;
  text-align: center;
  flex-direction: column;
  width:940px;
  height:100%;
}
.food-img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.food-img img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  border-radius: 50%;

}
.food-title {
  font-family: "Roboto", regular;
  font-size:36px;
  color:#111111;
  margin-top:25px;
}
.food-author {
  font-family: "Roboto", regular;
  font-size: 20px;
  color:#777777;
  margin-top:5px;
}

/*food*/
.accessfood {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.content {
  color:#5e5e5e;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", bold;
  margin-left: 15px;
  margin-top: 15px;
}
.content li {
  margin-bottom: 5px;
  font-weight: normal;
}
