.fields-grid-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 940px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.fields-item-chefs {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.fields-img-chefs {
    margin-left: 0;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    cursor: pointer;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.fields-info-chefs {
    width: 100%;
}
.fields-info-chefs h2 {
    font-size: 18px;
    color: #111;
    margin-bottom: 6px;
}
.fields-info-chefs p {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}
.fields-info-chefs a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}

.div-mais-acessadas {
  height: 100px;
  width: 100%;
  align-items: center;
}
.sub-acessadas {
  display: flex;
  width: 940px;
  height: 100%;
  align-items: center;
}
.mais-acessadas {
  display: flex;
  margin-left: 0;
  font-size: 20px;
  font-weight: bold;
}
.acessadas {
  display: grid;
  justify-content: center;
  height: auto;
  margin-bottom: 70px;
}
.acess-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:940px;
  grid-gap: 10px;
}
.comida {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.comida a {
  text-decoration: none;
  color: #111;
}
.img {
  cursor:pointer;
  height: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.comidatitle {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}
.comidaautor {
  cursor: pointer;
  font-size: 14px;
  color: #777777;
  margin-bottom: 10px;
}


