{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <section class="containererror">
        <h1 class="errortitle">Ops!</h1>
        <h2 class="naoencontrado">Ocorreu um erro</h2>
        <h2 class="errordesc">Página não encontrada</h2>
        <div class="load">
            {# <img src=""> #}
        </div>
    </section>
{% endblock %}

