{% extends "layout.njk" %}


{% block head %}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <section class="acessadas">
        <div class="acess-content">
            {% for item in items %}
                <div class="comida">
                    <img class="img" src="{{item.image}}">
                    <h2 class="comidatitle">{{item.title}}</h2>
                    <h3 class="comidaautor">{{item.author}}</h3>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
