/*pagina de error*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-error {
  display: flex;
  flex: 1 0 auto;
  height: auto;
}
.caixa-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width:940px;
}
.textos-caixa-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: 200px;
  width: 100%;
  background-color: #FBDFDB;
  border-radius: 30px;
}
.errortitle {
  font-size: 40px;
}
.naoencontrado {
  font-size: 30px;
}
.errordesc {
  margin-top: 30px;
  font-size: 20px;
}
