/*==========CAIXA ROSA==========*/
.container {
  display: flex;
  justify-content: center;
  height:370px;
}
.caixa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100%;
  width:940px;
  background-color: #FBDFDB;
  border-radius: 30px;
}
.textos-caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textos-caixa h1 {
  font-size: 32px;
  padding-left: 73px;
  padding-bottom: 10px;
}
.textos-caixa p {
  padding-left: 73px;
  font-size: 18px;
  opacity: 70%;
}
.caixa img {
  display: flex;
  margin-right: 100px;
  height:300px;
  width:216px;
  padding-top: 65px;
}

/*===========MAIS ACESSADAS=============*/
.div-mais-acessadas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.div-mais-acessadas div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 940px;
  height: 100%;
}
.mais-acessadas {
  font-size: 20px;
  font-weight: bold;
}
.acessadas {
  display: grid;
  justify-content: center;
  height:500px;
}
.acess-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:940px;
  grid-gap: 10px;
}
.comida {
  width: 100%;
  height: auto;
}
.img {
  cursor:pointer;
  height: 50%;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.comidatitle {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}
.comidaautor {
  cursor: pointer;
  font-size: 14px;
  color: #777777;
  margin-bottom: 10px;
}
