.accounts {
    position: relative;
}

.accounts a {
    cursor: pointer;
    text-decoration: none;
}

.accounts .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30px;
    width: 165px;
    margin-top: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: all 200ms;
    opacity: 0;
    visibility: hidden;
}

.accounts .submenu li,
.accounts .submenu button {
    font-size: 16px;
    display: inline-block;
    border: none;
    padding: 0px 12px;
    cursor: pointer;
    background-color: white;
    color: rgb(58, 58, 58);
}

.accounts .submenu li .submenu-a {
    padding-top: 20px;
}

.accounts .submenu li .submenu-b {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accounts .submenu li .submenu-a:hover {
  color: #6558C3;
}

.accounts .submenu li .submenu-b:hover {
  color: crimson;
}

.accounts:hover .submenu {
    top: 13px;
    opacity: 1;
    visibility: visible;
}