/* =============MESSAGES============= */
@keyframes hidemessage {
    to {
       right: -100px;
       opacity: 0; 
    }
}

.messages {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    border-radius: 4px;
    padding: 50px 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    animation: hidemessage 300ms 3s ease-out forwards;
}

.messages span {
    margin-right: 10px;
}

.messages.error-messages {
    background-color: #DC4747;
}

.messages.success-messages {
    background-color: rgb(44, 206, 98);
}