{% extends 'templates/layouts/layout-home.njk' %}

    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    {% endblock %}

    {% block content %}
    <section class="container-error">
        <div class="caixa-error">
            <div class="textos-caixa-error">
                <h1 class="errortitle">Ops!</h1>
                <h2 class="naoencontrado">Ocorreu um erro</h2>
                <h2 class="errordesc">Não conseguimos encontrar a página</h2>
            </div>
        </div>
    </section>
    {% endblock %}



