{% extends "templates/layouts/layout-home.njk" %}

{% block head %}
    <title>{{ recipe.title }}</title>
{% endblock %}


{% block content %}
    <section class="container">
        <div class="caixa">
            <div class="textos-caixa">
                <h1>As melhores receitas</h1>
                <p>Aprenda a contruir os melhores pratos</br> com receitas criadas por profissionais</br> do mundo inteiro.</p>
            </div>
            <img src="./img/chef.png">
        </div>
    </section>

    <section class="div-mais-acessadas">
        <div class="sub-acessadas">
            <p class="mais-acessadas">Mais acessadas</p>
        </div>
    </section>

    {% include 'templates/fields/field-home.njk' %}
{% endblock %}