@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
  margin: 0 auto;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
/*===========CABEÇALHO===========*/
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.header-home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  font-family: 'Roboto', sans-serif;
}
.div-header {
  display: flex;
  align-items: center;
  height: 100%;
  width: 940px;
}
.linkhome {
  margin: 0;
}
.links {
  display: flex;
  margin-left: 120px;
  width: 150px;
}
.links a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 16px;
  padding-right: 30px;
}
.search {
  margin-left: auto;
  margin-right: 0;
  right: 0;
}
.search form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search form div input {
  padding: 10px 10px;
  width: 220px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-right: 10px;
}
.search form div input.fill {
  border: 1px solid rgb(226, 61, 61);
  box-shadow: 0px 0px 10px 0px rgb(226, 61, 61);
}
.search form div input.fill::placeholder {
  color: rgb(226, 61, 61);
}
.search form div button {
  background-color: #6558C3;
  border: 1px solid #6558C3;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px 10px;
  width: 90px;
  cursor: pointer;
  color: white;
}

.search-parameter {
  width: 940px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.search-recipes,
.search-chefs {
  width: 940px;
  font-size: 20px;
  color: #6558C3;
}
.search-recipes {
  margin-bottom: 20px;
}

.search-not-found {
  width: 940px;
  margin-left: 10px;
}

.search-not-found h3 {
  color: #444;
  margin-bottom: 10px;
}

.search-not-found p {
  color: #777;
}

/*==========FOOTER==========*/
footer {
  bottom: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  width:100%;
  height:62px;
  margin-top: auto;
}
footer p {
  font-size: 14px;
  color:#999;
  text-align: center;
}



/*==========SOBRE==============*/
.sobre {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width:100%;
  height:800px;
}
.sobre-centro {
  width: 940px;
  justify-content: center;
}
.sobre-foodfy h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.sobre-foodfy h3 {
  padding-top: 20px;
  color: #444444;
  font-size: 18px;
  font-weight: normal;
}
.como-comecou h2 {
  padding-top: 40px;
  font-size: 20px;
}
.como-comecou h3 {
  padding-top: 20px;
  font-size: 18px;
  color:#444444;
  font-weight: normal;
}
.nossas-receitas h2 {
  padding-top:40px;
  font-size: 20px;
}
.nossas-receitas h3 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
  color:#444;
}

/*==========CAIXA ROSA==========*/
.container {
  display: flex;
  justify-content: center;
  height:370px;
}
.caixa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100%;
  width:940px;
  background-color: #FBDFDB;
  border-radius: 30px;
}
.textos-caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textos-caixa h1 {
  font-size: 32px;
  padding-left: 73px;
  padding-bottom: 10px;
}
.textos-caixa p {
  padding-left: 73px;
  font-size: 18px;
  opacity: 70%;
}
.caixa img {
  display: flex;
  margin-right: 100px;
  height:300px;
  width:216px;
  padding-top: 65px;
}

/*===========MAIS ACESSADAS=============*/
.div-mais-acessadas {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  align-items: center;
}
.sub-acessadas {
  display: flex;
  width: 940px;
  height: 100%;
  align-items: center;
}
.mais-acessadas {
  display: flex;
  margin-left: 0;
  font-size: 20px;
  font-weight: bold;
}
.acessadas {
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  margin-bottom: 70px;
}
.acess-content {
  display: grid;
  width: 940px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  grid-gap: 15px;
}
.comida {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
}
.comida a {
  text-decoration: none;
  color: #111;
}
.comida p {
  color: #777;
}
.img {
  cursor:pointer;
  height: 140px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  object-fit: cover;
}
.comidatitle {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}
.comidaautor {
  cursor: pointer;
  font-size: 14px;
  color: #777777;
  margin-bottom: 10px;
}



/*========== CHEFS ==========*/
.receitas-content-food {
  display: flex;
  align-items: center;
  justify-content: center;
}
.food-show {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width:940px;
  height:100%;
}
.food-img-show img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.food-title {
  font-family: "Roboto", regular;
  font-size:36px;
  color:#111111;
  margin-top:25px;
}
.food-author {
  font-family: "Roboto", regular;
  font-size: 20px;
  color:#777777;
  margin-top:5px;
}
.fields-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fields-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 940px;
  margin-bottom: 100px;
}
.fields-item {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 470px;
  margin-bottom: 20px;
  height: 80px;
}
.fields-img {
  margin-left: 0;
  border-radius: 8.5px;
  height: 80px;
  width: 172px;
  cursor: pointer;
  object-position: center center;
  object-fit: cover;
}
.fields-info {
  width: 100%;
}
.fields-info h2 {
  margin-right: 10px;
  font-size: 18px;
  color: #111;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fields-info p {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}
.fields-info a {
  font-size: 14px;
  font-weight: bold;
  color: #6558C3;
  text-decoration: none;
}

/*========== INDEX ==========*/
.fields-list-chefs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fields-grid-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 940px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.fields-item-chefs {
  align-items: center;
  width: 235px;
  box-sizing: border-box;
}
.fields-item-chefs-a {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
}
.fields-img-chefs {
  margin-left: 0;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  object-fit: cover;
}
.fields-info-chefs {
  width: 100%;
}
.fields-info-chefs h2 {
  font-size: 18px;
  color: #111;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fields-info-chefs p {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}
.fields-info-chefs a {
  font-size: 14px;
  color: #6558C3;
  text-decoration: none;
}


/*========== FOODPAGE ==========*/
.food-page {
  display: flex;
  text-align: center;
  flex-direction: column;
  width:940px;
  height:100%;
}
.food-img-page {
  width:100%;
  height:100%;
  border-radius: 15px;
  object-fit: cover;
}
.food-title-page {
  font-family: "Roboto", regular;
  font-size:36px;
  color:#111111;
  margin-top:40px;
}
.food-author-page {
  font-family: "Roboto", regular;
  font-size: 20px;
  color:#777777;
  margin-top:5px;
}

.accessfood {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%;
}
.descricao {
  margin-top:40px;
  margin-bottom: 40px;
  width:940px;
  height: 100%;
  margin-bottom: 70px;
}
.inf {
  height: auto;
  margin-bottom: 30px;
}
.ingredientes h1,
.preparo h1,
.adicionais h1 {
  display: inline-block;
  color:#111111;
  font-size: 24px;
  font-family: "Roboto", bold;
}
.mostrar {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  color:#525252;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", bold;
  margin-left: 10px;
}
.content {
  display: none;
  color:#5e5e5e;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", bold;
  margin-left: 15px;
  margin-top: 15px;
}
.content li {
  margin-bottom: 5px;
}
.ativo {
  display: block;
}