.fields-grid-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 940px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.fields-item-chefs {
    width: 100%;
}
.fields-item-chefs-a {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.fields-img-chefs {
    margin-left: 0;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    cursor: pointer;
    object-fit: cover;
}
.fields-info-chefs {
    width: 100%;
}
.fields-info-chefs h2 {
    font-size: 18px;
    color: #111;
    margin-bottom: 6px;
}
.fields-info-chefs p {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}
.fields-info-chefs a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}
