{% extends 'templates/layouts/layout-chefs.njk' %}

{% block content %}

<section class="card">
    <div class="card-lottie">
        <div class="animation"></div>
        <h2>Desculpe</h2>
        <p>{{ card_error }}</p>
        <button class="error" onclick="history.back()">Voltar</button>
    </div>
</section>

<script src="/lottie/lottie.min.js"></script>
<script>
    const element = document.querySelector('.animation')
    lottie.loadAnimation({
    container: element,
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '/lottie/icons/error.json'
    })
</script>

{% endblock %}