{% if error %}
    <div class="messages error-messages">
       {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="messages success-messages">
        {{ success }}
    </div>
{% endif %}