@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.fields-creation {
    display: flex;
    width: 100%;
}
.div-fields-creation {
    width: 940px;
    margin-bottom: 100px;
}
.div-fields-creation {
    margin-top: 30px;
}
.title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #111;
}
.div-fields-creation div input,
.div-fields-creation div textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #dddddd;
    resize: none;
}
.ingredients,
.preparation,
.div-ingredients,
.div-preparation {
    margin-top: 10px;
}
.div-add-remove {
    margin-top: 10px;
}
.add-ingredient,
.add-preparation {
    color: #6558C3;
    cursor: pointer;
}
.remove-ingredient, 
.remove-preparation {
    color: rgb(199, 21, 74);
    cursor: pointer;
    margin-left: 20px;
}
.remove-p,
.remove-p {
    display: none;
    margin-top: 5px;
    color: red;
}
.ativo,
.ativo {
    display: block;
}

