/* food page */
.food {
  display: flex;
  text-align: center;
  flex-direction: column;
  width:940px;
  height:100%;
}
.food-img {
  margin-top: 10px;
  width:100%;
  border-radius: 15px;
  background-size: cover;
}
.food-title {
  font-family: "Roboto", regular;
  font-size:36px;
  color:#111111;
  margin-top:40px;
}
.food-author {
  font-family: "Roboto", regular;
  font-size: 20px;
  color:#777777;
  margin-top:5px;
}

/*food*/
.accessfood {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.descricao {
  margin-top:40px;
  margin-bottom: 40px;
  width:940px;
  height: 100%;
}
.inf {
  height: auto;
  margin-bottom: 30px;
}
.ingredientes h1,
.preparo h1,
.adicionais h1 {
  display: inline-block;
  color:#111111;
  font-size: 24px;
  font-family: "Roboto", bold;
}
.mostrar {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  color:#525252;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", bold;
  margin-left: 10px;
}
.content {
  color:#5e5e5e;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", bold;
  margin-left: 15px;
  margin-top: 15px;
}
.content li {
  margin-bottom: 5px;
  font-weight: normal;
}
.ativo {
  display: block;
}