.fields-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.fields-item {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    margin-bottom: 20px;
    height: 80px;
}
.fields-img {
    margin-left: 0;
    border-radius: 8.5px;
    height: 80px;
    width: 172px;
    cursor: pointer;
}
.fields-info {
    width: 100%;
}
.fields-info h2 {
    font-size: 18px;
    color: #111;
    margin-bottom: 6px;
}
.fields-info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}
.fields-info a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}

