{% extends 'templates/layouts/layout-recipes.njk' %}

{% block content %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <section class="create">
            <div class="create-recipe">
                <div class="create-recipe-p">
                    <p>Criando receita</p>
                </div>
                <div class="save-recipe-create">
                    <button type="button" class="btn-cancel-recipe" onclick="history.back()">Cancelar</button>
                    <button class="btn-save-recipe" type="submit" onclick="validate.validateFields(event)">Salvar receita</button>
                </div>
            </div>
        </section>
        
        {% include 'admin/recipes/fields/fields-recipes.njk' %}
        <input type="hidden" name="id" value="id">
    </form>
{% endblock %}

