{% extends 'templates/layouts/layout-recipes.njk' %}

{% block content %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <section class="create">
            <div class="create-recipe">
                <div class="create-recipe-p">
                    <p>Criando receita</p>
                </div>
                <div class="save-recipe-create">
                    <a href="/admin/recipes/myrecipes">
                        <button type="button" class="btn-cancel-recipe">Cancelar</button>
                    </a>
                    <button class="btn-save-recipe" type="submit" onclick="validate.validateFieldsRecipes(event)">Salvar receita</button>
                </div>
            </div>
        </section>
        
        {% include 'templates/fields/fields-recipes.njk' %}
        <input type="hidden" name="id" value="id">
    </form>

{% endblock %}

