{% extends 'templates/layouts/layout.njk' %}

{% block content %}
    <form method="POST" action="/admin/recipes?_method=PUT">
        <section class="create">
            <div class="create-recipe">
                <p>Editando receita</p>
                <div class="save-recipe-edit">
                    <a href="/admin/recipes/index"><button type="button" class="btn-cancel">Cancelar</button></a>
                    <button class="btn-red" type="submit" form="form-delete">Deletar</button>

                    <input type="hidden" name="id" value="{{ recipe.id }}">
                    <button class="btn" type="submit">Salvar receita</button>
                </div>
            </div>
        </section>
        {% include 'templates/fields/fields-recipes.njk' %}
    </form>

    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>
{% endblock %}