{% extends 'templates/layouts/layout-recipes.njk' %}

{% block content %}
    <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
        <section class="create">
            <div class="edit-recipe">
                <div class="edit-recipe-p">
                    <p>Editando receita</p>
                </div>
                <div class="save-recipe-edit">
                    <button type="button" class="btn-cancel-recipe" onclick="history.back()">Cancelar</button>   
                    <button class="btn-delete-recipe" type="submit" form="form-delete">Deletar</button>
                    <input type="hidden" name="id" value="{{ recipe.id }}">
                    <button class="btn-save-recipe" type="submit" onclick="validate.validateFields(event)">Salvar receita</button>
                </div>
            </div>
        </section>
        {% include 'admin/recipes/fields/fields-recipes.njk' %}
    </form>

    <form class="form-delete" id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>
{% endblock %}