{% extends "templates/layouts/layout.njk" %}

{% block head %}
    <title>{{ recipe.name }}</title>
{% endblock %}

{% block content %}
    <section class="create">
        <div class="show-recipe">
            <div class="create-recipe-p">
                <p>Receita: {{ recipe.title }}</p>
            </div>
            <div class="save-recipe-show">
                <a href="/admin/recipes">
                    <button class="btn-cancel-recipe" type="submit">Voltar</button>
                </a>
                <a href="/admin/recipes/{{ recipe.id }}/edit">
                    <button class="btn-save-recipe" type="submit">Editar receita</button>
                </a>
            </div>
        </div>
    </section>

    <section class="accessfood">
        <div class="receitas-content-food">
            <div class="food">
                <img class="food-img-recipe" src="{{ recipe.image }}">
                <h2 class="food-title-recipe">{{ recipe.title }}</h2>
                <h3 class="food-author-recipe">Por {{ recipe.chefs_name }}</h3>
            </div>
        </div>

        <section class="descricao">
            <div class="ingredientes">
                <div class="inf">
                    <h1>Ingredientes</h1>
                    <ul class="content">
                        {% for ingredient in recipe.ingredients %}
                        <li class="li">{{ ingredient + '.' }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="preparo">
                <div class="inf">
                    <h1>Modo de preparo</h1>
                    <ul class="content">
                        {% for prepar in recipe.preparation %}
                        <li class="li">{{ prepar + '.'}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="adicionais">
                <div class="inf">
                    <h1>Informações adicionais</h1>
                    <ul class="content">
                        <li class="li">
                            {% if recipe.information != '' %}
                                {{ recipe.information }}
                            {% else %}
                                Sem informações adicionais.
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
