<section class="fields-creation">
    <div class="div-fields-creation">
        <div class="item">
            <p class="title">Nome</p>
            <input type="text" name="name" value="{{ chef.name }}" placeholder="Nome do chef">
        </div>
        <div class="item">
            <p class="title">Imagem do chef</p>
            <div class="image-preview">
                {% if chef.file %}
                    <input class="input-view" type="text" disabled value="{{ chef.file.name }}">
                {% else %}
                    <input class="input-view input-view-none" type="text" disabled value="{{ chef.file.name }}">
                {% endif %}
            </div>

            <div class="avatar">
                    <input
                        class="input-file"
                        id="file"
                        type="file"
                        name="file_id"
                        accept="image/*"
                        onchange="imageUploadChef(event)">
                {% if chef.file %}
                    <label class="label-file" for="file">Enviar novo avatar</label>
                {% else %}
                    <label class="label-file" for="file">Enviar avatar</label>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="/js/imageUploadChef.js"></script>
<script src="/js/removeColorInput.js"></script>
