<section class="fields-creation">
    <div class="div-fields-creation">
        <div>
            <p class="title">Nome</p>
            <input type="text" name="name" value="{{ chef.name }}" placeholder="Nome do chef" required>
        </div>
        <div>
            <p class="title">Avatar</p>
        </div>
    </div>
</section>