<header class="header-recipes">
    <div class="div-header-recipes">
        <a href="/" class="linkhome-recipes"><img src="/assets/logowhite.png" alt=""></a>
        <div class="links">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            <a href="/admin/users">Usuários</a>
        </div>
        <div>
            <a href="">Sair</a>
        </div>
    </div>
</header>