<header class="header-recipes">
    <div class="div-header-recipes">
        <a href="/" class="linkhome-recipes"><img src="/assets/logowhite.png" alt=""></a>
        <div class="links">
            <ul>
                <li class="accounts">
                    {% if session.isAdmin %}
                        <a href="/admin/recipes" {% if session.isAdmin %}class="disabled"{% endif %}>
                            <span class="material-icons">expand_more</span>
                            <p>RECEITAS</p>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-a"><a href="/admin/recipes/myrecipes">MINHAS RECEITAS</a></li>
                            <li class="submenu-b"><a href="/admin/recipes/all">TODAS AS RECEITAS</a></li>
                        </ul>
                    {% else %}
                        <a href="/admin/recipes/myrecipes">
                            <p>RECEITAS</p>
                        </a>
                    {% endif %}
                </li>
                <li class="accounts"><a href="/admin/chefs">CHEFS</a></li>
                <li class="accounts">
                    {% if session.isAdmin %}
                        <a href="/admin/admins" {% if session.isAdmin %}class="disabled"{% endif %}>
                            <span class="material-icons">expand_more</span>
                            <p>USUÁRIO</p>
                        </a>
                        <ul class="submenu">
                            <li  class="submenu-a"><a href="/admin/admins/list">USUÁRIOS</a></li>
                            <li  class="submenu-b"><a href="/admin/admins/index">MEU PERFIL</a></li>
                        </ul>
                    {% else %}
                        <a href="/admin/admins/index">
                            <p>USUÁRIO</p>
                        </a>
                    {% endif %}
                </li>
            </ul> 
        </div>
        <form class="logout" action="/admin/session/logout" method="POST">
            <a>
                <span class="material-icons">expand_more</span>
                <p>SAIR</p>
            </a>
            <ul class="submenu-logout">
                <li class="submenu-a"><a href="/">VOLTAR AO HOME</a></li>
                <li class="submenu-b"><button>SAIR DA CONTA</button></li>
            </ul>
        </form>
    </div>
</header>