<section class="fields-creation">
    <div class="div-fields-creation">
        <div>
            <p class="title">Imagem da receita</p>
            <div class="container-image">
                <div class="cam">
                    <input
                        class="input-file"
                        id="file"
                        type="file" 
                        name="image"
                        value="{{ recipe.image }}"
                        multiple="multiple"
                        accept="image/*"
                        required
                        onchange="imageUpload.handleFileInput(event)">

                    <label class="label-file" for="file">
                        <span class="material-icons">add</span>
                    </label>
                </div>

                <div class="image-preview">

                </div>
            </div>
        </div>

        <div>
            <p class="title">Nome da receita</p>
            <input 
                type="text" 
                name="title" 
                value="{{ recipe.title }}" 
                placeholder="Nome da receita" 
                required>
        </div>

        <div>
            <p class="title">Selecione o chef</p>
            <select name="chef">
                {% for chef in chefsOptions %}
                <option class="option" value="{{ chef.id }}" {% if recipes.chef_id == chef.id %} selected {% endif %}>
                    {{ chef.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <p class="title">Ingredientes</p>
            <div class="ingredients">
                {% for ingredient in recipe.ingredients %}
                    <div class="div-ingredients">
                        <input 
                            type="text" 
                            name="ingredients[]" 
                            value="{{ ingredient }}"
                            placeholder="Adicione um ingrediente">
                    </div>
                {% else %}
                    <div class="div-ingredients">
                        <input
                            type="text" 
                            name="ingredients[]" 
                            value="{{ ingredient }}"
                            placeholder="Adicione um ingrediente">
                    </div>
                {% endfor %}
            </div>
            <div class="add-remove">
                <button class="add-ingredient" type="button">
                    <div>
                        <span class="material-icons">add</span>
                        <p>Adicionar</p>
                    </div>
                </button>
                <button class="remove-ingredient" type="button">
                    <div>
                        <span class="material-icons">delete</span>
                        <p>Remover</p>
                    </div>
                </button>
            </div>
        </div>

        <div>
            <p class="title">Modo de preparo</p>
            <div class="preparation">
                {% for prep in recipe.preparation %}
                    <div class="div-preparation">
                        <input 
                            type="text" 
                            name="preparation[]" 
                            value="{{ prep }}" 
                            placeholder="Adicione um passo"
                            required>
                    </div>
                {% else %}
                    <div class="div-preparation">
                        <input 
                            type="text" 
                            name="preparation[]" 
                            value="{{ prep }}" 
                            placeholder="Adicione um passo" 
                            required>
                    </div>
                {% endfor %}
            </div>
            <div class="add-remove">
                <button class="add-preparation" type="button">
                    <div>
                        <span class="material-icons">add</span>
                        <p>Adicionar</p>
                    </div>
                </button>
                <button class="remove-preparation" type="button">
                    <div>
                        <span class="material-icons">delete</span>
                        <p>Remover</p>
                    </div>
                </button>
            </div>
        </div>

        <div>
            <p class="title">Informações adicionais</p>
            <textarea 
                name="information" 
                cols="30" rows="10" 
                placeholder="Escreva algo sobre a receita :)" required>{{ recipe.information }}</textarea>
        </div>
    </div>
</section>
<script src="/js/addnew.js"></script>
<script src="/js/imageUploadRecipe.js"></script>
