<section class="fields-creation">
    <div class="div-fields-creation">
        <div>
            <p class="title">Nome</p>
            <input type="text" name="name" value="{{ chef.name }}" placeholder="Nome do chef" required>
        </div>
        <div>
            {# <p class="title">Imagem do chef</p>
            <div class="image-preview">
                {% if files %}
                    <input class="input-view" type="text" disabled value="{{ files.name }}">
                {% else %}
                    <input class="input-view input-view-none" type="text" disabled value="{{ files.name }}">
                {% endif %}
            </div> #}

            <div class="avatar">
                    <input
                        class="input-file"
                        id="file"
                        type="file"
                        name="file_id"
                        accept="image/*"
                        value="{{ files.name }}"
                        onchange="imageUploadChef(event)">
                {% if files %}
                    <label class="label-file" for="file">Enviar novo avatar</label>
                {% else %}
                    <label class="label-file" for="file">Enviar avatar</label>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="/js/imageUploadChef.js"></script>
