<section class="fields-register">
    <div class="div-fields-register">
        <div>
            <p class="title">Email</p>
            <input type="email" name="email" value="{{ user.email }}" placeholder="Insira um email" required 
            onblur="validate.apply(this, 'validEmail')">
        </div>

        <div>
            <p class="title">Senha</p>
            <input type="password" name="password" placeholder="Digite uma senha" required>
        </div>
    </div>
    <div class="div-fields-submit">
        <a href="/admin/users/register">Registre-se</a>
        <a href="/admin/session/forgot-password">Esqueceu a senha?</a>
        <button type="submit">Entrar</button>
    </div>
</section>
