<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}

        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main-recipes.css">
        <link rel="stylesheet" href="/css/main-chefs.css">
    </head>
    <body>
        <header class="header-recipes">
            <div class="div-header-recipes">
                <a href="/" class="linkhome-recipes"><img src="/img/logowhite.png" alt=""></a>
                <div class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
    <script type="module" src="/js/script.js"></script>
</html>