<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}
        
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="/css/main-home.css">
        <link rel="stylesheet" href="/css/messages.css">
    </head>
    <body>
        <header class="header-home">
            <div class="div-header">
                <a href="/" class="linkhome"><img src="/assets/logo.png"></a>
                <div class="links">
                    <ul>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/recipes">Receitas</a></li>
                        <li><a href="/chefs">Chefs</a></li>
                        <li class="accounts">
                            {% if session.userId %}
                                <a href="/admin/admins/index">Minha conta</a>
                            {% else %}
                                <a href="/admin/session/login">Login</a>
                            {% endif %}
                        </li>

                    </ul>
                </div>
                <div class="search">
                    <form action="/search" method="GET">
                        <div>
                            <input type="text" name="search" placeholder="Buscar receitas ou chefs" value="{{ search }}">
                        </div>
                        <div>
                            <button class="search-button" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        {% block content %}
            
        {% endblock %}
        <script src="/js/script.js"></script>
        <script src="/js/fillsearch.js"></script>
        <script src="/js/paginate.js"></script>
        <script src="/js/gallery.js"></script>
    </body>
</html>