<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}

        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="/css/main-chefs.css">
        <link rel="stylesheet" href="/css/main-admins.css">
        <link rel="stylesheet" href="/css/messages.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/animation.css">
    </head>
    <body>
        {% include 'templates/parts/messages.njk' %}

        {% include 'templates/parts/header-admin.njk' %}
        
        {% block content %}
        
        {% endblock %}

        <script src="/js/script.js"></script>
        <script src="/js/paginate.js"></script>
        <script src="/js/validate.js"></script>
        <script src="/js/confirmation.js"></script>
    </body>
</html>