<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}

        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="/css/main-chefs.css">

    </head>
    <body>
        <header class="header-recipes">
            <div class="div-header-recipes">
                <a href="/" class="linkhome-recipes"><img src="/assets/logowhite.png" alt=""></a>
                <div class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </header>
        {% block content %}
        
        {% endblock %}
        <script src="/js/script.js"></script>
        <script src="/js/paginate.js"></script>
    </body>
</html>