<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}
        
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main-home.css">
    </head>
    <body>
        <header class="header-home">
            <div class="div-header">
                <a href="/" class="linkhome"><img src="/img/logo.png" alt=""></a>
                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>
                <div class="search">
                    <form action="/search" method="GET">
                        <div>
                            <input type="text" name="search" placeholder="Buscar receita ou chef">
                        </div>
                        <div>
                            <button type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        {% block content %}
            
        {% endblock %}
        <footer>
            <p>Todos os direitos reservados - Receitas Foodfy</p>
        </footer>
    </body>
    <script type="module" src="/js/script.js"></script>
</html>