{% extends 'templates/layouts/layout-admins.njk' %}

{% block content %}
    <section class="users-register">
        <form method="POST" action="/admin/admins/create">
            <section class="chefs">
                <div class="chef">
                    <div class="chef-p">
                        <p>Criar Usuário</p>
                    </div>
                    <div class="save-chef">
                        <a href="/admin/admins/list"><button class="btn-cancel-chef" type="button">Cancelar</button></a>
                        <button class="btn-save-chef" type="submit">Salvar</button>
                    </div>
                </div>
            </section>
            
            {% include 'admin/admins/fields/admins-create.njk' %}

            <input type="hidden" name="id" value="id">
        </form>
    </section>
{% endblock %}