{% extends 'templates/layouts/layout-admins.njk' %}

{% block content %}
    <section class="users-register">
        <form action="/admin/admins?_method=PUT" method="POST">
            <section class="chefs">
                <div class="chef">
                    <div class="chef-p">
                        <p>Atualizar Usuário</p>
                    </div>
                    <div class="save-chef">
                        <button class="btn-cancel-chef" type="button" onclick="history.back()">Cancelar</button>
                        {% if user.id != session.userId %}
                            <button form="form-delete" class="btn-delete-chef" type="submit" onclick="validate.confirmation(event)">Deletar</button>
                        {% endif %}
                        <button class="btn-save-chef" type="submit" onclick="validate.validateFields(event)">Salvar</button>
                    </div>
                </div>
            </section>    
            {% include 'admin/admins/fields/admins-create.njk' %}

            <input type="hidden" name="id" value="{{ user.id }}">
        </form>

        <form class="form-delete" id="form-delete" action="/admin/admins?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ user.id }}">
        </form>
    </section>
{% endblock %}