{% extends 'templates/layouts/layout-admins.njk' %}

{% block content %}
    <section class="users-register">
        <form method="POST" action="/admin/users/register">
            <section class="chefs">
                <div class="chef">
                    <div class="chef-p">
                        <p>Bem vindo {{ session }}</p>
                    </div>
                    <div class="save-chef">
                        <button class="btn-save-chef" type="submit">Salvar</button>
                    </div>
                </div>
            </section>
            
            {% include 'admin/admins/fields/admins-index.njk' %}

            <input type="hidden" name="id" value="id">
        </form>
    </section>
{% endblock %}

